.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}
.container > div:nth-child(1n) {
  background-color: rgb(209, 38, 38);
}

.container > div:nth-child(3n) {
  background-color:  rgb(209, 38, 38);
}

.container > div:nth-child(2n) {
  background-color:  rgb(209, 38, 38);
}

.container > div:nth-child(4n) {
  background-color:  rgb(209, 38, 38);
}