html, body {
    width: 100%;
    height: 100%;
    border: solid 2px blue;
}
.container {
    background: rgb(6, 6, 182);
    height: 50%;
    width: 50%;
    margin: 20px;
    position: absolute;
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas:
      "m m m h h h h h h h h h"
      "m m m h h h h h h h h h "
      "f f f c c c c c c c c c"
      "f f f c c c c c c c c c";
}
.header {
    grid-area: h;
    margin: 10px;
    padding: 20px;
    background: whitesmoke;
    justify-content: space-around;
  }
  
  .menu {
    grid-area: m;
    margin: 10px;
    background: whitesmoke
  }
  
  .content {
    grid-area: c;
    margin: 10px;
    background: whitesmoke;
  }
  
  .footer {
    grid-area: f;
    margin: 10px;
    background: whitesmoke;
  }
  